.photo-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    max-width:calc(100% - 96px);
    margin: 92px auto 92px;
}

@media screen and (max-width:1024px) {
    .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
    }
}

@media screen and (max-width:720px) {
    .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    max-width:calc(100% - 48px);
    margin: 88px auto 88px;
    }
}

@media screen and (max-width:320px) {
    .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 12px;
    max-width:calc(100% - 32px);
    margin: 64px auto 64px;
    }
}