.header {
  display: flex;
  margin: 0 auto;
  padding: 34px 0 58px;
  justify-content: space-between;
  align-items: center;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 96px);
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 32px);
    padding-top: 20px;
  }
}
