.header{
    display: flex;
    margin: 0 auto 58px;
    padding-top: 34px;
    justify-content: space-between;
    width:calc(100% - 296px);
}


@media screen and (max-width: 1024px) {
   .header{ width:calc(100% - 96px);
   }
}