.logo {
  margin: 34px 0 58px;
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    margin: 20px 0 50px;
    max-width: 156px;
  }
}
