.footer__links {
  display: flex;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  align-self: start;
  list-style-type: none;
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}
