.header__lang-links {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 12px 0 4px;
}

@media screen and (max-width: 1024px) {
  .header__lang-links {
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    padding: 10px 0 6px;
  }
}
