.header__lang-links {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  list-style-type: none;
  margin: 46px 0 62px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .header__lang-links {
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    margin: 30px 0 56px;
  }
}
